/* Element */
li {

}
/* Class */
.hello {

}
/* Id */
#name {

}


/* Star - select everything on a page*/
* {
    border: 1px solid lightgrey;
}

/* Descendant Selector - Example: All a tags in an li*/
li a {
    color: red;
}

/* Adjacent Selector - after another tag on the same level*/
h4 + ul {
    border: 4px solid red;
}

/* Attribute Selector - Attributes in tags, here every href = google in anchor tags*/
a[href="http://www.google.com"] {
    background: blue;
}

/* nth of type - Example: Third entry of li */
li:nth-of-type(3) {
    background:purple;
}
